h1 {
  text-align: center;
  color: blue;
}

div.board {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  margin: auto;
  justify-content: space-between;
}

.card {
  width: 30%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  perspective: 1000px;
}

.card-container {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card.active .card-container {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  color: black;
}

.card-back {
  transform: rotateY(180deg);
}

.card-img {
  width: 100%;
}
